@model List<Rentals.DTOs.FilmDto>
@{
    ViewBag.Title = "";
}

<h2>@(User.Identity.Name)'s Films</h2>

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-3">
            <h4>Name</h4>
        </div>
        <div class="col-md-1">
            |
        </div>
        <div class="col-md-3">
            Genre
        </div>
        <div class="col-md-1">
            |
        </div>
        <div class="col-md-3">
            <h4>Year</h4>
        </div>
    </div>
    <hr/>
        @foreach (var film in Model)
            {
            <div class="row">
                <div class="col-md-3">
                    <h4>@film.Name</h4>
                </div>
                <div class="col-md-1">
                    |
                </div>
                <div class="col-md-3">
                    <strong>@film.Genre</strong>
                </div>
                <div class="col-md-1">
                    |
                </div>
                <div class="col-md-3">
                    <strong>@film.Year</strong>
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn btn-primary" onclick="window.location.href = '@Url.Action("ReturnFilm", new {filmId = film.FilmId })'" value="Return Movie"/>
                </div>
                
            </div>
                
           
        }
    
</div>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        function returnFilm(filmId) {
            alert("Hello");

        }
    });

</script>