@model Rentals.Models.ApplicationUser
@{
    var title = "User Summary";
    ViewBag.Title = title;
}

<div class="form-horizontal">

<h2>@Model.FirstName's Information</h2>

    <div class="row">
        <div class="col-md-3">
            <h4>First Name:</h4>
        </div>
        <div class="col-md-3">
            <h4>@Model.FirstName</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <h4>Last Name:</h4>
        </div>
        <div class="col-md-3">
            <h4>@Model.LastName</h4>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-3">
            <h4>Email Address:</h4>
        </div>
        <div class="col-md-3">
            <h4>@Model.Email</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <h4>Home Address:</h4>
        </div>
        <div class="col-md-3">
            <h4>@Model.Address</h4>
        </div>
    </div>
    <br/>
        <input type="submit" value="Edit Details" id="editButton" class="btn btn-primary" />

</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#editButton").click(function (data) {
            window.location.href="/User/Edit";
        });
    });
</script>